</body>

<footer>
  Copyright 2021 - fdPractice
  <!-- <div class="attribute">
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <a href='https://www.freepik.com/vectors/background'>Background vector created by vvstudio - www.freepik.com</a>
    <a href='https://www.freepik.com/vectors/background'>Background vector created by Harryarts - www.freepik.com</a>
  </div> -->
</footer>

</html>
