<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>

  <!-- ICON -->
  <link rel="icon" href="images/todo.ico">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/c0c834ad46.js" crossorigin="anonymous"></script>

</head>

<body>
