<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>

  <!-- ICON -->
  <link rel="icon" href="images/todo.ico">

  <!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
